.block__center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container {
    composes: block__center;
    align-items: flex-start;
    max-width: 1240px;
    width: 100%;
    margin: auto;
}