.block__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    composes: block__center;
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
.constructorlink {
    composes: block__center;
    text-decoration: none;
    color: #F2F2F3;
}
.constructorlink span {
    margin-left: 8px;
}
.listicon {
    composes: constructorlink;
    color: #8585AD;
}
.profileicon {
    composes: listicon;
}